

.br-trans {
    background: rgba(255, 255, 255, 0.2) !important;
    /*opacity:0.1 !important;*/
}

.pit {
    color: #000000;
    font-weight:600;
}

.grid .item .grid-entry .grid-img:hover img{
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
}

.grid .item .grid-entry .grid-img .grid-img-hover{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0%;
    background: rgba(0,0,0,0.5);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    z-index: 20;
}

.grid .item .grid-entry .grid-img .grid-img-hover{
    top: 0%;
}

.grid .item .grid-entry .grid-img i.hover-icon{
    position: absolute;
    top: 50%;
    display: inline-block;
    margin-top: -30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
    background: rgba(0,0,0,0.5);
    border-radius: 50px;
    -webkit-transition: all 0.6s ease-in;
    -moz-transition: all 0.6s ease-in;
    -ms-transition: all 0.6s ease-in;
    -o-transition: all 0.6s ease-in;
    transition: all 0.6s ease-in;
    z-index: 25;
}

.grid .item .grid-entry .grid-img i.icon-left{

    margin-right: 10px;
}


.grid .item .grid-entry .grid-img i.icon-left{
    right: 40%;
}


.grid .item .grid-entry .grid-img:hover i.icon-left{
    right: 40%;
}

.expanded-image{
    min-height:200px;
}